@import '~antd/dist/antd.css';
*{
    padding: 0;
    margin: 0;
}
ul,li{
    list-style: none;
}
body{
    background-color: #ddd;
}
/* header */
.headerwrap{
    height: 50px;
    background-color: #444;
}
.headerwrap header{
    width: 1200px;
    margin: 0 auto;
}
.headerwrap img{
    margin-top: 10px;
    width: 120px;
}
.headerwrap a{
    margin: 0 20px;
    color: #ccc;
}
/* main */
.main{
    width: 1250px;
    margin: 30px auto;
}
.content{
    width: 960px;
    float: left;
}
.backGournd{
    height: 1075px;
    background-color: #fff;
    padding: 10px;
}

/*sider  */
.sider{
    width: 270px;
    float: right;
}
.sider div div{
    background-color:#fff;
    margin-bottom: 15px;
    width: 290px;
}
.sider div p{
    margin-left: 10px;
    color: black;
}
.sider div a{
    color: #778087; 
}
.sider button{
    margin-left: 10px;
    color: #fff;
    background-color: #5bc0de;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 3px 10px;
    border-radius: 5px;
    border:none;
}
.silder1 img{
    width: 270px;
    height: 65px;
    margin-left: 10px;
    margin-top: 10px;
}
.silder-img1{
    margin-bottom: 10px;
}
#silder2{
    background-color: #f6f6f6;
    margin-bottom: 0px;
}
#silder2 p{
    font-size: 13px;
    padding: 10px 10px 10px 0px;
    margin-bottom: 0px;
}
.silder3{
    font-size: 13px;
    padding: 10px;
}
.silder4 img{
    width: 150px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.silder5 img{
    width: 200px;
    height: 200px;
}
.silder5 p{
    text-align: center;
    color: #778087;
    margin-bottom: 0px;
}
.silder5 p:nth-child(2){
    padding-bottom: 20px;
}

/* login */
.logn1{
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 3px 3px 0 0;
}
.logn1 p{
    font-size: 14px;
    margin-bottom: 0px;
    color: #999;
}
.logn1 a{
    color: #80bd01;
}
.logn2{
    background-color: #fff;
    padding: 10px;
    height: 240px;
}
.logn2 p{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #333;
}
.logn2 input{
    width: 270px;
    height: 25px;
    padding: 4px 6px;
    font-size: 14px;
    line-height: 20px;
    color: #555;
    border-radius: 4px;
    font-weight: 400;
    margin-left: 15px;
}
.logn2 p:nth-child(1){
    margin-top: 45px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.logn2 p:nth-child(2){
    margin-left: 113px;
}
.logn2 a{
    color: #778087;
}
.logn2 button{
    border-radius: 3px;
    background-color: #08c;
    color: #fff;
    width: 200px;
    height: 35px;
    border: none;
    font-size: 16px;
    margin-left: 156px;
    margin-right: 20px;
}

/*footers*/
.footers1{
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    float: left;
    bottom:0;
    z-index: -1;
}
.footers1 a{
    font-size: 14px;
    display: inline;
    color:#666;
}
.footers1 p{
    font-size: 14px;
    color:#ababab;
}
.footers1 img:nth-child(1){
    width: 92px;
    height: 18px;
}
.footers1 img{
    width: 115px;
    height: 45px;
}
.footers1 div{
    width: 90%;
    max-width: 1400px;
    min-width: 960px;
    margin: 0 auto;
    color: #e2e2e2;
    padding: 20px 0;
    font-size: 13px;
    line-height: 2em;
}

/* body */
.nav1{
    background-color: #f6f6f6;
    padding: 10px;
    border-radius: 3px 3px 0 0;
    
}
.nav2{
    margin-bottom: 50px;
}
.title-div{
    border-top: 1px solid #f0f0f0;
    height: 50px;
    padding: 10px;
}
.nav1 a{
    margin: 0 5px;
    color: #80bd01;
}
.nav0 div:nth-child(2){
    background-color: #ffffff;
}
.all-img{
    height: 30px;
    width: 30px;
    float: left;
    border-radius: 3px;
}
.all-p{
    display: inline;
    color: #9e78c0;
}
.all-p1{
    font-size: 10px;
    color: #b4b4b4;
    display: inline;
}
.p-div{
    display: inline;
    width: 70px;
    text-align: center;
    float: left;
    margin-top: 3px;
}
.title-span1{
    background: #80bd01;
    color: #fff;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 3px;
    vertical-align: middle;
}
.title-span2{
    background-color: #e5e5e5;
    color: #999;
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 3px;
    vertical-align: middle;
} 
.title-div a{
    color: #333;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 5px;
}
.all-div{
    float: right;
}
.all-div p{
    vertical-align: middle;
    display: inline;
}
.all-img2{
    height: 18px;
    width: 18px;
    vertical-align: middle;
    margin-right: .5em;
    border-radius: 3px;
}
#btns{
    height: 50px;
}
#btns button{
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-left-width: 0;
}
.title-span3{
    display: none;
}
.nav3{
    /* background-color: red; */
    width: 960px;
    float: left;
    background-color: #fff;
    margin-bottom: 50px;
}